<p><strong>{{characterName}}</strong> &mdash;
  {{localize 'HEROMANCER.Approval.SubmittedBy' user=submitterUserName when=when}}
</p>
<p>{{localize 'DND5E.LevelNumber' level=level}}</p>
<p>{{localize 'TYPES.Item.class'}}: {{classLine}} | {{localize 'TYPES.Item.race'}}: {{species}} |
  {{localize 'TYPES.Item.background'}}: {{bg}}
</p>
