{{!-- templates/equipment/equipment-inline.hbs --}}
{{!-- Renders inline form controls for AND-inside-OR children --}}

{{#if isLinked}}
  {{#if linkedItem}}
    <input type="hidden" data-linked-item data-uuid="{{linkedItem.uuid}}" data-count="{{count}}"
      value="{{linkedItem.uuid}}">
  {{/if}}

{{else if isCategory}}
  {{#if hasOptions}}
    {{#if multiSelect}}
      {{#each selectInstances}}
        <div class="form-group">
          <label for="{{../type}}-{{../categoryKey}}-{{../id}}-inline-{{index}}">{{../textLabel}}</label>
          <div class="form-fields">
            <select data-equipment-select data-type="{{../type}}" data-count="1"
              id="{{../type}}-{{../categoryKey}}-{{../id}}-inline-{{index}}">
              {{#each ../options}}
                <option value="{{uuid}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="form-group">
        <label for="{{type}}-{{categoryKey}}-{{id}}-inline">{{textLabel}}</label>
        <div class="form-fields">
          <select data-equipment-select data-type="{{type}}" data-count="{{count}}"
            id="{{type}}-{{categoryKey}}-{{id}}-inline">
            {{#each options}}
              <option value="{{uuid}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    {{/if}}
  {{/if}}

{{else if isOr}}
  {{#if hasChildren}}
    <div class="form-group">
      <label for="or-{{id}}-inline">{{textLabel}}</label>
      <div class="form-fields">
        <select data-equipment-select data-type="or" data-count="{{count}}" id="or-{{id}}-inline">
          {{#each children}}
            {{#if isLinked}}
              {{#if linkedItem}}
                <option value="{{linkedItem.uuid}}">{{linkedItem.name}}</option>
              {{/if}}
            {{else if isCategory}}
              <option value="" disabled>{{textLabel}}</option>
            {{else}}
              <option value="{{id}}">{{textLabel}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
  {{/if}}
{{/if}}
