{{!-- Settings Dialog Footer with Action Buttons --}}
<footer>
	<div class='hm-app-footer-actions flex justify-center items-center gap-md whitespace-nowrap'>
		{{!-- Submit Button --}}
		<button type='submit' class='hm-app-footer-submit' data-tooltip='{{localize "hm.app.submit"}}'
			aria-label='{{localize "hm.app.submit"}}'>
			<span>{{localize 'hm.app.submit'}}</span>
		</button>

		{{!-- Cancel Button --}}
		<button type='button' data-action='close' class='hm-app-footer-cancel' data-tooltip='{{localize "hm.app.cancel"}}'
			aria-label='{{localize "hm.app.cancel"}}'>
			<span>{{localize 'hm.app.cancel'}}</span>
		</button>
	</div>
</footer>
