<li class="hm-sp-cost-row" data-cost-row>
  <input type="number" name="pointBuyCostMap.{{index}}.score" value="{{score}}"
    aria-label="{{localize 'DND5E.AbilityScore'}}" step="1">
  <input type="number" name="pointBuyCostMap.{{index}}.cost" value="{{cost}}"
    aria-label="{{localize 'HEROMANCER.Settings.SettingsPanel.PointBuyCostMap.CostLabel'}}" step="1">
  <button type="button" class="hm-icon-btn" data-action="removeCostRow" data-tooltip
    aria-label="{{localize 'HEROMANCER.Settings.SettingsPanel.PointBuyCostMap.RemoveTooltip'}}">
    <i class="fa-solid fa-trash" aria-hidden="true"></i>
  </button>
</li>
